In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
                    .appName('Read and Write different file formats') \
                    .config("spark.jars.packages", "com.amazonaws:aws-java-sdk-s3:1.12.540,org.apache.hadoop:hadoop-aws:3.3.6") \
                    .config("spark.hadoop.fs.s3a.endpoint", "http://minio:9000") \
                    .config("spark.hadoop.fs.s3a.access.key", "minio") \
                    .config("spark.hadoop.fs.s3a.secret.key", "minio123") \
                    .config("spark.hadoop.fs.s3a.path.style.access", True) \
                    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
                    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
                    .config("spark.hadoop.fs.s3a.committer.name", "directory") \
                    .config("spark.hadoop.fs.s3a.committer.staging.conflict-mode", "replace") \
                    .config("spark.hadoop.fs.s3a.committer.staging.tmp.path", "/tmp/staging") \
                    .getOrCreate()

spark

2022-02-19 03:47:32,763 WARN util.Utils: Your hostname, localhost resolves to a loopback address: 127.0.0.1; using 172.30.0.2 instead (on interface eth0)
2022-02-19 03:47:32,763 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark-3.2.1-bin-without-hadoop/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
mysql#mysql-connector-java added as a dependency
com.amazonaws#aws-java-sdk-s3 added as a dependency
org.apache.hadoop#hadoop-aws added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-b2087eed-ab85-4e03-9df4-dbb9c67255cc;1.0
	confs: [default]

:: loading settings :: url = jar:file:/opt/spark-3.2.1-bin-without-hadoop/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

	found mysql#mysql-connector-java;8.0.28 in central
	found com.google.protobuf#protobuf-java;3.11.4 in central
	found com.amazonaws#aws-java-sdk-s3;1.12.161 in central
	found com.amazonaws#aws-java-sdk-kms;1.12.161 in central
	found com.amazonaws#aws-java-sdk-core;1.12.161 in central
	found commons-logging#commons-logging;1.1.3 in central
	found commons-codec#commons-codec;1.15 in central
	found org.apache.httpcomponents#httpclient;4.5.13 in central
	found org.apache.httpcomponents#httpcore;4.4.13 in central
	found software.amazon.ion#ion-java;1.0.2 in central
	found com.fasterxml.jackson.core#jackson-databind;2.12.6 in central
	found com.fasterxml.jackson.core#jackson-annotations;2.12.6 in central
	found com.fasterxml.jackson.core#jackson-core;2.12.6 in central
	found com.fasterxml.jackson.dataformat#jackson-dataformat-cbor;2.12.6 in central
	found joda-time#joda-time;2.8.1 in central
	found com.amazonaws#jmespath-java;1.12.161 in central
	found org.apache.hadoop#hadoop-aws;3.3.1 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.901 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
:: resolution report :: resolve 305ms :: artifacts dl 8ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.901 from central in [default]
	com.amazonaws#aws-java-sdk-core;1.12.161 from central in [default]
	com.amazonaws#aws-java-sdk-kms;1.12.161 from central in [default]
	com.amazonaws#aws-java-sdk-s3;1.12.161 from central in [default]
	com.amazonaws#jmespath-java;1.12.161 from central in [default]
	com.fasterxml.jackson.core#jackson-annotations;2.12.6 from central in [default]
	com.fasterxml.jackson.core#jackson-core;2.12.6 from central in [default]
	com.fasterxml.jackson.core#jackson-databind;2.12.6 from central in [default]
	com.fasterxml.jackson.dataformat#jackson-dataformat-cbor;2.12.6 from central in [default]
	com.google.protobuf#protobuf-java;3.11.4 from central in [default]
	commons-codec#commons-codec;1.15 from central in [default]
	commons-logging#commons-logging;1.1.3 from central in [default]
	joda-time#joda-time;2.8.1 from central in [default]
	mysql#mysql-connector-java;8.0.28 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.1 from central in [default]
	org.apache.httpcomponents#httpclient;4.5.13 from central in [default]
	org.apache.httpcomponents#httpcore;4.4.13 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	software.amazon.ion#ion-java;1.0.2 from central in [default]
	:: evicted modules:
	commons-logging#commons-logging;1.2 by [commons-logging#commons-logging;1.1.3] in [default]
	commons-codec#commons-codec;1.11 by [commons-codec#commons-codec;1.15] in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   21  |   0   |   0   |   2   ||   19  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-b2087eed-ab85-4e03-9df4-dbb9c67255cc
	confs: [default]
	0 artifacts copied, 19 already retrieved (0kB/7ms)
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2022-02-19 03:47:34,898 WARN yarn.Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.
2022-02-19 03:47:39,618 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/mysql_mysql-connector-java-8.0.28.jar added multiple times to distributed cache.
2022-02-19 03:47:39,618 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.amazonaws_aws-java-sdk-s3-1.12.161.jar added multiple times to distributed cache.
2022-02-19 03:47:39,618 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/org.apache.hadoop_hadoop-aws-3.3.1.jar added multiple times to distributed cache.
2022-02-19 03:47:39,618 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.google.protobuf_protobuf-java-3.11.4.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.amazonaws_aws-java-sdk-kms-1.12.161.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.amazonaws_aws-java-sdk-core-1.12.161.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.amazonaws_jmespath-java-1.12.161.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/commons-logging_commons-logging-1.1.3.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/commons-codec_commons-codec-1.15.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/org.apache.httpcomponents_httpclient-4.5.13.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/software.amazon.ion_ion-java-1.0.2.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.fasterxml.jackson.core_jackson-databind-2.12.6.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.fasterxml.jackson.dataformat_jackson-dataformat-cbor-2.12.6.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/joda-time_joda-time-2.8.1.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/org.apache.httpcomponents_httpcore-4.4.13.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.fasterxml.jackson.core_jackson-annotations-2.12.6.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.fasterxml.jackson.core_jackson-core-2.12.6.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/com.amazonaws_aws-java-sdk-bundle-1.11.901.jar added multiple times to distributed cache.
2022-02-19 03:47:39,619 WARN yarn.Client: Same path resource file:///root/.ivy2/jars/org.wildfly.openssl_wildfly-openssl-1.0.7.Final.jar added multiple times to distributed cache.

## CSV

In [1]:
csv_df = spark.read.csv('./datasets/forestfires.csv', sep=',', header=True, inferSchema=True)
csv_df.show()
csv_df.printSchema()
csv_df.count()

+---+---+-----+---+----+-----+-----+----+----+---+----+----+----+
|  X|  Y|month|day|FFMC|  DMC|   DC| ISI|temp| RH|wind|rain|area|
+---+---+-----+---+----+-----+-----+----+----+---+----+----+----+
|  7|  5|  mar|fri|86.2| 26.2| 94.3| 5.1| 8.2| 51| 6.7| 0.0| 0.0|
|  7|  4|  oct|tue|90.6| 35.4|669.1| 6.7|18.0| 33| 0.9| 0.0| 0.0|
|  7|  4|  oct|sat|90.6| 43.7|686.9| 6.7|14.6| 33| 1.3| 0.0| 0.0|
|  8|  6|  mar|fri|91.7| 33.3| 77.5| 9.0| 8.3| 97| 4.0| 0.2| 0.0|
|  8|  6|  mar|sun|89.3| 51.3|102.2| 9.6|11.4| 99| 1.8| 0.0| 0.0|
|  8|  6|  aug|sun|92.3| 85.3|488.0|14.7|22.2| 29| 5.4| 0.0| 0.0|
|  8|  6|  aug|mon|92.3| 88.9|495.6| 8.5|24.1| 27| 3.1| 0.0| 0.0|
|  8|  6|  aug|mon|91.5|145.4|608.2|10.7| 8.0| 86| 2.2| 0.0| 0.0|
|  8|  6|  sep|tue|91.0|129.5|692.6| 7.0|13.1| 63| 5.4| 0.0| 0.0|
|  7|  5|  sep|sat|92.5| 88.0|698.6| 7.1|22.8| 40| 4.0| 0.0| 0.0|
|  7|  5|  sep|sat|92.5| 88.0|698.6| 7.1|17.8| 51| 7.2| 0.0| 0.0|
|  7|  5|  sep|sat|92.8| 73.2|713.0|22.6|19.3| 38| 4.0| 0.0| 0.0|
|  6|  5|  aug|fri|63.5| 70.8|665.3| 0.8|17.0| 72| 6.7| 0.0| 0.0|
|  6|  5|  sep|mon|90.9|126.5|686.5| 7.0|21.3| 42| 2.2| 0.0| 0.0|
|  6|  5|  sep|wed|92.9|133.3|699.6| 9.2|26.4| 21| 4.5| 0.0| 0.0|
|  6|  5|  sep|fri|93.3|141.2|713.9|13.9|22.9| 44| 5.4| 0.0| 0.0|
|  5|  5|  mar|sat|91.7| 35.8| 80.8| 7.8|15.1| 27| 5.4| 0.0| 0.0|
|  8|  5|  oct|mon|84.9| 32.8|664.2| 3.0|16.7| 47| 4.9| 0.0| 0.0|
|  6|  4|  mar|wed|89.2| 27.9| 70.8| 6.3|15.9| 35| 4.0| 0.0| 0.0|
|  6|  4|  apr|sat|86.3| 27.4| 97.1| 5.1| 9.3| 44| 4.5| 0.0| 0.0|
+---+---+-----+---+----+-----+-----+----+----+---+----+----+----+
only showing top 20 rows

517

## Passing Schema

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType


schema = StructType([
    StructField('x', IntegerType()),
    StructField('y', IntegerType()),
    StructField('month', StringType()),
    StructField('day', StringType()),
    StructField('ffmc', DoubleType()),
    StructField('dmc', DoubleType()),
    StructField('dc', DoubleType()),
    StructField('isi', DoubleType()),
    StructField('temp', DoubleType()),
    StructField('rh', IntegerType()),
    StructField('wind', DoubleType()),
    StructField('rain', DoubleType()),
    StructField('area', DoubleType())
])

csv_df = spark.read.csv('datasets/forestfires.csv', header=True, sep=',', schema=schema)

csv_df.show()
csv_df.count()

+---+---+-----+---+----+-----+-----+----+----+---+----+----+----+
|  X|  Y|month|day|FFMC|  DMC|   DC| ISI|temp| RH|wind|rain|area|
+---+---+-----+---+----+-----+-----+----+----+---+----+----+----+
|  7|  5|  mar|fri|86.2| 26.2| 94.3| 5.1| 8.2| 51| 6.7| 0.0| 0.0|
|  7|  4|  oct|tue|90.6| 35.4|669.1| 6.7|18.0| 33| 0.9| 0.0| 0.0|
|  7|  4|  oct|sat|90.6| 43.7|686.9| 6.7|14.6| 33| 1.3| 0.0| 0.0|
|  8|  6|  mar|fri|91.7| 33.3| 77.5| 9.0| 8.3| 97| 4.0| 0.2| 0.0|
|  8|  6|  mar|sun|89.3| 51.3|102.2| 9.6|11.4| 99| 1.8| 0.0| 0.0|
|  8|  6|  aug|sun|92.3| 85.3|488.0|14.7|22.2| 29| 5.4| 0.0| 0.0|
|  8|  6|  aug|mon|92.3| 88.9|495.6| 8.5|24.1| 27| 3.1| 0.0| 0.0|
|  8|  6|  aug|mon|91.5|145.4|608.2|10.7| 8.0| 86| 2.2| 0.0| 0.0|
|  8|  6|  sep|tue|91.0|129.5|692.6| 7.0|13.1| 63| 5.4| 0.0| 0.0|
|  7|  5|  sep|sat|92.5| 88.0|698.6| 7.1|22.8| 40| 4.0| 0.0| 0.0|
|  7|  5|  sep|sat|92.5| 88.0|698.6| 7.1|17.8| 51| 7.2| 0.0| 0.0|
|  7|  5|  sep|sat|92.8| 73.2|713.0|22.6|19.3| 38| 4.0| 0.0| 0.0|
|  6|  5|  aug|fri|63.5| 70.8|665.3| 0.8|17.0| 72| 6.7| 0.0| 0.0|
|  6|  5|  sep|mon|90.9|126.5|686.5| 7.0|21.3| 42| 2.2| 0.0| 0.0|
|  6|  5|  sep|wed|92.9|133.3|699.6| 9.2|26.4| 21| 4.5| 0.0| 0.0|
|  6|  5|  sep|fri|93.3|141.2|713.9|13.9|22.9| 44| 5.4| 0.0| 0.0|
|  5|  5|  mar|sat|91.7| 35.8| 80.8| 7.8|15.1| 27| 5.4| 0.0| 0.0|
|  8|  5|  oct|mon|84.9| 32.8|664.2| 3.0|16.7| 47| 4.9| 0.0| 0.0|
|  6|  4|  mar|wed|89.2| 27.9| 70.8| 6.3|15.9| 35| 4.0| 0.0| 0.0|
|  6|  4|  apr|sat|86.3| 27.4| 97.1| 5.1| 9.3| 44| 4.5| 0.0| 0.0|
+---+---+-----+---+----+-----+-----+----+----+---+----+----+----+
only showing top 20 rows

517

In [3]:
csv_df.write.csv('output/write-csv', mode='overwrite')

## Parquet

In [4]:
parquet_df = spark.read \
                  .parquet('datasets/olympic-history/athletes_events')
parquet_df.show()
parquet_df.count()

+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+--------------------+-----+
| ID|                Name|Sex|Age|Height|Weight|          Team|NOC|      Games|Year|Season|       City|               Sport|               Event|Medal|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+--------------------+-----+
|  1|           A Dijiang|  M| 24|   180|    80|         China|CHN|1992 Summer|1992|Summer|  Barcelona|          Basketball|Basketball Men's ...|   NA|
|  2|            A Lamusi|  M| 23|   170|    60|         China|CHN|2012 Summer|2012|Summer|     London|                Judo|Judo Men's Extra-...|   NA|
|  3| Gunnar Nielsen Aaby|  M| 24|    NA|    NA|       Denmark|DEN|1920 Summer|1920|Summer|  Antwerpen|            Football|Football Men's Fo...|   NA|
|  4|Edgar Lindenau Aabye|  M| 34|    NA|    NA|Denmark/Sweden|DEN|1900 Summer|1900|Summer|      Paris|          Tug-Of-War|Tug-Of-War Men's ...| Gold|
|  5|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988 Winter|1988|Winter|    Calgary|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988 Winter|1988|Winter|    Calgary|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 25|   185|    82|   Netherlands|NED|1992 Winter|1992|Winter|Albertville|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 25|   185|    82|   Netherlands|NED|1992 Winter|1992|Winter|Albertville|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 27|   185|    82|   Netherlands|NED|1994 Winter|1994|Winter|Lillehammer|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 27|   185|    82|   Netherlands|NED|1994 Winter|1994|Winter|Lillehammer|       Speed Skating|Speed Skating Wom...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  7|        John Aalberg|  M| 31|   183|    72| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  7|        John Aalberg|  M| 31|   183|    72| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+--------------------+-----+
only showing top 20 rows

271116

In [5]:
parquet_df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

In [6]:
from pyspark.sql.types import StructType, StructField, StringType

p_schema = StructType([
            StructField("id", StringType(), True),
            StructField("name", StringType(), True)
])

In [7]:
p_df = spark.read \
            .schema(p_schema) \
            .parquet('datasets/olympic-history/athletes_events')
p_df.show()

+---+--------------------+
| id|                name|
+---+--------------------+
|  1|           A Dijiang|
|  2|            A Lamusi|
|  3| Gunnar Nielsen Aaby|
|  4|Edgar Lindenau Aabye|
|  5|Christine Jacoba ...|
|  5|Christine Jacoba ...|
|  5|Christine Jacoba ...|
|  5|Christine Jacoba ...|
|  5|Christine Jacoba ...|
|  5|Christine Jacoba ...|
|  6|     Per Knut Aaland|
|  6|     Per Knut Aaland|
|  6|     Per Knut Aaland|
|  6|     Per Knut Aaland|
|  6|     Per Knut Aaland|
|  6|     Per Knut Aaland|
|  6|     Per Knut Aaland|
|  6|     Per Knut Aaland|
|  7|        John Aalberg|
|  7|        John Aalberg|
+---+--------------------+
only showing top 20 rows

### Write to HDFS

In [8]:
parquet_df.write.parquet('output/write-parquet', mode='overwrite')

### Write to Minio (S3)

In [9]:
parquet_df.write.parquet("s3a://teste/data/output/", mode='overwrite')

In [10]:
spark.read.parquet("s3a://teste/data/output/").show()

+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+--------------------+-----+
| ID|                Name|Sex|Age|Height|Weight|          Team|NOC|      Games|Year|Season|       City|               Sport|               Event|Medal|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+--------------------+-----+
|  1|           A Dijiang|  M| 24|   180|    80|         China|CHN|1992 Summer|1992|Summer|  Barcelona|          Basketball|Basketball Men's ...|   NA|
|  2|            A Lamusi|  M| 23|   170|    60|         China|CHN|2012 Summer|2012|Summer|     London|                Judo|Judo Men's Extra-...|   NA|
|  3| Gunnar Nielsen Aaby|  M| 24|    NA|    NA|       Denmark|DEN|1920 Summer|1920|Summer|  Antwerpen|            Football|Football Men's Fo...|   NA|
|  4|Edgar Lindenau Aabye|  M| 34|    NA|    NA|Denmark/Sweden|DEN|1900 Summer|1900|Summer|      Paris|          Tug-Of-War|Tug-Of-War Men's ...| Gold|
|  5|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988 Winter|1988|Winter|    Calgary|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 21|   185|    82|   Netherlands|NED|1988 Winter|1988|Winter|    Calgary|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 25|   185|    82|   Netherlands|NED|1992 Winter|1992|Winter|Albertville|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 25|   185|    82|   Netherlands|NED|1992 Winter|1992|Winter|Albertville|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 27|   185|    82|   Netherlands|NED|1994 Winter|1994|Winter|Lillehammer|       Speed Skating|Speed Skating Wom...|   NA|
|  5|Christine Jacoba ...|  F| 27|   185|    82|   Netherlands|NED|1994 Winter|1994|Winter|Lillehammer|       Speed Skating|Speed Skating Wom...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 31|   188|    75| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  6|     Per Knut Aaland|  M| 33|   188|    75| United States|USA|1994 Winter|1994|Winter|Lillehammer|Cross Country Skiing|Cross Country Ski...|   NA|
|  7|        John Aalberg|  M| 31|   183|    72| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
|  7|        John Aalberg|  M| 31|   183|    72| United States|USA|1992 Winter|1992|Winter|Albertville|Cross Country Skiing|Cross Country Ski...|   NA|
+---+--------------------+---+---+------+------+--------------+---+-----------+----+------+-----------+--------------------+--------------------+-----+
only showing top 20 rows

## PartitionBy

In [13]:
parquet_df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Season: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

In [14]:
parquet_df.write \
          .partitionBy("City", "Year") \
          .parquet('output/partitioned', mode='overwrite')

In [15]:
spark.read.parquet("output/partitioned").printSchema()

root
 |-- ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Team: string (nullable = true)
 |-- NOC: string (nullable = true)
 |-- Games: string (nullable = true)
 |-- Season: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Year: string (nullable = true)

## Bucketing

In [16]:
parquet_df.write \
          .mode("overwrite") \
          .bucketBy(16, 'City') \
          .sortBy('City') \
          .saveAsTable("bucketed", format='parquet')

In [17]:
spark.table('bucketed').show()

+-----+--------------------+----------+------------+------+------+---------+---+-----------+----+-----------+--------+-------------+--------------------+---------+
|   ID|                Name|       Sex|         Age|Height|Weight|     Team|NOC|      Games|Year|     Season|    City|        Sport|               Event|    Medal|
+-----+--------------------+----------+------------+------+------+---------+---+-----------+----+-----------+--------+-------------+--------------------+---------+
| 5816|"Edna Roxanne ""R...| -Campbell| -Andersen)"|     F|    24|      160| NA|     Canada| CAN|1936 Summer|    1936|       Summer|              Berlin|Athletics|
|27542|"Willemijntje ""W...|    -Jager| -Schupper)"|     F|    18|      163| NA|Netherlands| NED|1936 Summer|    1936|       Summer|              Berlin| Swimming|
|27542|"Willemijntje ""W...|    -Jager| -Schupper)"|     F|    18|      163| NA|Netherlands| NED|1936 Summer|    1936|       Summer|              Berlin| Swimming|
|   52|       Patrick Abada|         M|          22|   189|    80|   France|FRA|1976 Summer|1976|     Summer|Montreal|    Athletics|Athletics Men's P...|       NA|
|   85|Alejandro Abascal...|         M|          24|   181|    82|    Spain|ESP|1976 Summer|1976|     Summer|Montreal|      Sailing|Sailing Mixed Two...|       NA|
|   97|Carlos Alberto Ab...|         M|          16|   180|    70|Nicaragua|NCA|1976 Summer|1976|     Summer|Montreal|    Athletics|Athletics Men's H...|       NA|
|  109|Abdul Latif Al-Sa...|         M|          23|   176|    64|   Kuwait|KUW|1976 Summer|1976|     Summer|Montreal|    Athletics|Athletics Men's 4...|       NA|
|  109|Abdul Latif Al-Sa...|         M|          23|   176|    64|   Kuwait|KUW|1976 Summer|1976|     Summer|Montreal|    Athletics|Athletics Men's 4...|       NA|
|  146|       Jeremy Abbott|         M|          19|   179|    71|   Canada|CAN|1976 Summer|1976|     Summer|Montreal|     Canoeing|Canoeing Men's Ca...|       NA|
|  187|Moustafa Ali Abde...|         M|          32|   152|    52|    Egypt|EGY|1976 Summer|1976|     Summer|Montreal|Weightlifting|Weightlifting Men...|       NA|
|  196|Mohamed Abdel Khaled|         M|          24|   183|    76|  Tunisia|TUN|1976 Summer|1976|     Summer|Montreal|     Handball|Handball Men's Ha...|       NA|
|  202|Awad Abdel Nabi Awad|         M|          23|   198|    80|    Egypt|EGY|1976 Summer|1976|     Summer|Montreal|   Basketball|Basketball Men's ...|       NA|
|  222|Mohamed Said Abde...|         M|          22|   157|    48|    Egypt|EGY|1976 Summer|1976|     Summer|Montreal|       Boxing|Boxing Men's Ligh...|       NA|
|  261| Nasrollah Abdollahi|         M|          24|   183|    75|     Iran|IRI|1976 Summer|1976|     Summer|Montreal|     Football|Football Men's Fo...|       NA|
|  286|Abdul Aziz Hassan...|         M|          23|   169|    60|   Kuwait|KUW|1976 Summer|1976|     Summer|Montreal|    Athletics|Athletics Men's 2...|       NA|
|  286|Abdul Aziz Hassan...|         M|          23|   169|    60|   Kuwait|KUW|1976 Summer|1976|     Summer|Montreal|    Athletics|Athletics Men's 4...|       NA|
|  292|Firouz Abdul Moha...|         M|          34|   178|    74|     Iran|IRI|1976 Summer|1976|     Summer|Montreal|   Water Polo|Water Polo Men's ...|       NA|
|  370|        Shigeaki Abe|         M|          28|   178|    70|    Japan|JPN|1976 Summer|1976|     Summer|Montreal|   Basketball|Basketball Men's ...|       NA|
|  386|     Alexandre Abeid|         M|          26|   194|    92|   Brazil|BRA|1976 Summer|1976|     Summer|Montreal|   Volleyball|Volleyball Men's ...|       NA|
|  413|Hugo Ral Aberastegui|         M|          34|   186|    84|Argentina|ARG|1976 Summer|1976|     Summer|Montreal|       Rowing|Rowing Men's Coxe...|       NA|
+-----+--------------------+----------+------------+------+------+---------+---+-----------+----+-----------+--------+-------------+--------------------+---------+
only showing top 20 rows

In [18]:
spark.stop()