In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
SPARK_HOME = '/home/jose/Frameworks/spark-3.0.2-bin-hadoop2.7'

In [3]:
# import os
# os.environ['PYSPARK_SUBMIT_ARGS'] = 'pyspark-shell'

import findspark
findspark.init(SPARK_HOME)

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

config = SparkConf() \
                    .setMaster('local[*]') \
                    .setAppName('Spark Base') \
                    .setAll([('spark.executor.memory', '2G'),
                            ('spark.driver.memory', '2G'),
                            ('spark.driver.maxResultSize', '1G')])

sc = SparkContext(conf=config)
spark = SparkSession(sc)

spark

## Create Dataframe

### No schema

In [6]:
tuple_list_data = [('Alice', 1), ('Braga', 2), ('Steve', 3)]
spark.createDataFrame(tuple_list_data, ['name', 'id']).show()

+-----+---+
| name| id|
+-----+---+
|Alice|  1|
|Braga|  2|
|Steve|  3|
+-----+---+

In [7]:
dict_list_data = [{'name': 'Alice', 'id': 1}, {'name': 'Braga', 'id': 2}, {'name': 'Steve', 'id': 2}]
spark.createDataFrame(dict_list_data).show()

/home/jose/Frameworks/spark-3.0.2-bin-hadoop2.7/python/pyspark/sql/session.py:381: UserWarning: inferring schema from dict is deprecated,please use pyspark.sql.Row instead
  warnings.warn("inferring schema from dict is deprecated,"

+---+-----+
| id| name|
+---+-----+
|  1|Alice|
|  2|Braga|
|  2|Steve|
+---+-----+

In [19]:
from pyspark.sql.types import Row

row_list_data = [Row('Alice', 1), Row('Braga', 2), Row('Steve', 3)]
spark.createDataFrame(row_list_data, ['name', 'id']).show()

+-----+---+
| name| id|
+-----+---+
|Alice|  1|
|Braga|  2|
|Steve|  3|
+-----+---+

### With Schema

In [16]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
schema = StructType([
    StructField('name', StringType()),
    StructField('id', IntegerType())
])

spark.createDataFrame(tuple_list_data, schema).show()

+-----+---+
| name| id|
+-----+---+
|Alice|  1|
|Braga|  2|
|Steve|  3|
+-----+---+

In [17]:
spark.createDataFrame(dict_list_data, schema).show()

+-----+---+
| name| id|
+-----+---+
|Alice|  1|
|Braga|  2|
|Steve|  3|
+-----+---+

In [20]:
spark.createDataFrame(row_list_data, schema).show()

+-----+---+
| name| id|
+-----+---+
|Alice|  1|
|Braga|  2|
|Steve|  3|
+-----+---+

## Table

In [26]:
sample_data = [('Alice', 1), ('Braga', 2), ('Steve', 3)]
df = spark.createDataFrame(sample_data, ['name', 'id'])
df.createOrReplaceTempView("my_table")

In [31]:
r = spark.sql('SELECT * FROM my_table')
r.show()

+-----+---+
| name| id|
+-----+---+
|Alice|  1|
|Braga|  2|
|Steve|  3|
+-----+---+

In [36]:
r = spark.sql("""
    INSERT INTO my_table VALUES ("jose", 5);
""")

AnalysisException: unresolved operator 'InsertIntoStatement LogicalRDD [name#227, id#228L], false, false, false;;
'InsertIntoStatement LogicalRDD [name#227, id#228L], false, false, false
+- LocalRelation [col1#269, col2#270]